.container {
  width: 100%;

  .heroContainer {
    position: relative;
    width: 100%;
    height: 100vh;

    .videoContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .heroOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: white;
        font-size: var(--fs-xl);
        font-weight: lighter;
      }
    }

    .scrollMouseContainer {
      position: absolute;
      bottom: 3em;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .lobbiesContainer {
    margin: 2em 20%;
  }
}